*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}



/* global styles */
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 14px;
}

p{
    font-size: 16px;
    font-weight: 700;
    color: #465b52;
}

.section-p1{
    padding: 40px 80px;
    overflow: hidden;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .3s ease;
}

body{
    background: #fff;
    width: 100%;
}

body.expand{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) #222;
}

/* header section */

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

footer{
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 80px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .3);
    overflow: hidden;
}

nav #mobile {
    display: none;
}

.list-menu #closeMenu i{
    display: none;
}

nav .navgation i.open {
    display: none;
}

.logo a img{
    width: 90px;
    height: 90px;
}

.navgation .list-menu{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    font-size: 21px;
     color: #088178;
    padding-left: 145px;
    font-weight: 600;


}

.list-menu .list-item a{
    text-decoration: none;
    color: #1a1a1a;
    position: relative;
    transition: .3s ease;
    font-weight: 700;
}

.list-menu a.active,
.list-menu .list-item a:hover{
    color: #088178;
    transition: .3s ease;
}

.list-menu a.active:hover::after,
.list-menu a.active::after,
.list-menu .list-item a:hover::after{
    content: '';
    width: 30%;
    height: 3px;
    position: absolute;
    background: #088178;
    bottom: -8px;
    left: 1px;
    transition: .3s ease;
    animation: expand 1s linear;
}

@keyframes expand {
    30%, 100%{
        transition: .3s ease;
        width: 100%;
    }
}



/* home page */


.pro-container .desc p {
    white-space: nowrap;
    color: #222;
}

/* hero section */
#hero{
    width: 100%;
    height: 100vh;
    background: url(..//images/worker4.jpg);
    background-position: top 25% right 0;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 40px 80px;
    /* overflow: hidden; */
}

#hero h4{
    color: #222;
    padding-bottom: 30px;
}

#hero h1{
    color: #088178;
    font-size: 66px;
    padding-bottom: 30px;
}

#hero h2{
    font-size: 56px;
    line-height: 54px;
    color: #222;
    padding-bottom: 20px;
    font-weight: 700;
}

#hero p{
    font-size: 20px;
    font-weight: 700;
    color: #465b52;
    padding-bottom: 20px;
} 

button{
    padding: 15px 80px;
    cursor: pointer;
    border: none;
    outline: none;
    background: url(..//images/banner-bg.png);
    background-position: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 13px;
}





/* feature section */
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    /* overflow: hidden; */
}

.fe-box{
    text-align: center;
    border: 1px solid #cce7d0;
    padding: 18px 12px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, .3);
    border-radius: 13px;
}

.fe-box h6{
    margin-top: 20px;
    margin-bottom: 18px;
    padding: 10px 15px;
    background: #088178;
    font-weight: 700;
    font-size: 19px;
}

.fe-box:nth-child(2) h6{
    background: #d968be;
}

.fe-box:nth-child(3) h6{
    background: #79e461;
}

.fe-box:nth-child(4) h6{
    background: #e06a6a;
}

.fe-box:nth-child(5) h6{
    background: #8068d9;
}

.fe-box:nth-child(6) h6{
    background: #d9a668;
}

.fe-box img{
    width: 180px;
    height: 180px;
}

#products{
    min-height: 80vh;
    text-align: center;
    /* overflow: hidden; */
}

#products .head p{
    color: #222;
    margin: 26px 0;
}

#products .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pro-container .desc{
    position: relative;
    border: 1px solid #cce7d0;
    margin-bottom: 30px;
    padding: 14px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .3);
    border-radius: 13px;
    text-align: start;
    transition: .4s ease-in-out;
    margin: 10px 0;
    cursor: pointer;
}

.pro-container .desc:hover{
    margin: 10px 0px;
    transform: scale(1.1);
}

.pro-container .desc p, h5{
    margin: 16px 0;
    font-size: 20px;
    font-weight: 700;
}

.pro-container .desc p{
        white-space: nowrap;
    }

.pro-container .desc  h5{
    margin: 16px 0;
    font-size: 20px;
    font-weight: 700;
    color: #088178;
}

.pro-container .desc .stars i{
    color: #c6ad09;
}

.pro-container .desc .cart i{
    color: #088178;
    font-size: 24px;
    position: absolute;
    right: 30px;
    bottom: 40px;
    background: #e3dbdb;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #cce7d0;
}



.pro-container .desc img{
    object-fit: cover;
    width: 350px;
    height: 350px;
}

#banner{
    background-image: url(..//images/cta-bg.jpg);
    background-position: center;
    background-size: cover;
    line-height: 90px;
    text-align: center;
    /* overflow: hidden; */
}

#banner p{
    color: #ffb006;
    font-size: 20px;
    font-weight: 700;
}

#banner h2{
    color: #fff;
    line-height: 80px;
}

#banner h2 span{
    color: #ffb006;
}

#banner button{
    background: #fff;
    color: #222;
    font-weight: 600;
    transition: .3s ease-in-out;
}

#banner button:hover{
    background: #088178;
    color: #fff;
}

#sm-banner{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
/* overflow: hidden; */
}

#sm-banner .banner-container{
    /* overflow: hidden; */
    min-width: 700px;
    width: 100%;
    background-image: url(..//images/p09.webp);
    background-position: center;
    background-size: cover;
    padding: 30px;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    flex-basis: 48%;

}

#sm-banner .banner-container h3, h4, p{
    font-size: 22px;
    color: #fff;
    margin-bottom: 12px;
}

#sm-banner .banner-container h4{
    margin: 14px 0;
}

#sm-banner .banner-container button{
    background: transparent;
    border: 1px solid #088178;
    transition: .3s ease-in-out;
}

#sm-banner .banner-container:hover button{
    background: #088178;
    
}

#sm-banner .banner-container:nth-child(2){
    background-image: url(..//images/p22.webp);
}

#sm-banner .banner-container:nth-child(2) p{
    color: #3e3d3d;
    font-size: 22px;
}


#banner2 .b2-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    line-height: 80px;
    color: #fff;
}

#banner2 .b2-container h2{
    color: #fff;
    white-space: nowrap;
}

#banner2 .b2-container .continer1{
    width: 100%;
    height: 30vh;
    background-image: url(..//images/p07.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #fb4e04;
    padding: 0 20px;
}

#banner2 .b2-container .continer2{
    width: 100%;
    height: 30vh;
    background-image: url(..//images/p7.webp);
     background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #fb4e04;
    padding: 0 20px;
}

#banner2 .b2-container .continer3{
    width: 100%;
    height: 30vh;
    background-image: url(..//images/p01.webp);
     background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #fb4e04;
    padding: 0 20px;
}

#newsLetter{
    background: #031c4e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 90px;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
   /* overflow: hidden; */
}

#newsLetter h3{
    color: #fff;
    font-size: 22px;
}

#newsLetter p{
    color: #918989;
    font-size: 22px;
    margin-top: -30px;
}

#newsLetter p span{
    color: #c6ad09;
}

#newsLetter .form{
    width: 40%;
    display: flex;
    align-items: end;
}

#newsLetter .form input{
    padding: 20px 10px;
    flex-basis: 70%;
    border: none;
    outline: none;
    font-size: 20px;
}

#newsLetter .form button{
    background: #088178;
    padding: 20px 40px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-radius: 0;
    white-space: nowrap;
}


/* footer styling */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

footer .footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer .col a{
    text-decoration: none;
    margin-bottom: 25px;
    color: #222;
    font-size: 21px;
    transition: .3s ease;
}

footer .col a:hover{
    color: #088178;
}

footer .col h5{
    margin-bottom: 40px;
}


footer .contact img{
    width: 90px;
    height: 90px;
}

footer .install{
    margin-right: -100px;
}

footer .install img{
    width: 100px;
    height: 100px;
}

footer .install .apps{
    display: flex;
    align-items: center;
    gap: 45px;
    color: #088178;
    cursor: pointer;
}

footer .install .apps i{
    font-size: 100px;
}

footer .install .apps i:hover{
    color: #222;
}

footer .install p.two{
    margin-top: 35px;
}

footer .col p{
    color: #222;
    font-weight: 500;
}

footer .social i{
    font-size: 21px;
    margin-right: 12px;
    transition: .3s ease;
    cursor: pointer;
}

footer .social i:hover{
    color: #088178;
}

footer .gateway img{
    margin-top: 16px;
    width: 30%;
    height: 80px;
    object-fit: contain;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    transition: .3s ease;
}

footer .gateway img:hover{
    border: 1px solid #088178;
    border-radius: 12px;
    outline: none;
}

footer .gateway{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

footer .copyright p{
    margin-top: 16px;
    text-align: center;
    color: #222;
}



/* shop page */
#page-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(..//images/banner-bg.png);
    height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}


#page-header h1{
    color: #fff;
    line-height: 150px;
    font-weight: 800;
}

#pagnation{
    padding: 80px 0;
}



.pag-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.pag-container button{
    background: #088178;
    color: #fff;
    padding: 18px 26px;
    font-size: 22px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, .02);
}



/* single product */
.sp-container{
    display: flex;
    gap: 60px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 20px;
    height: auto;
}


.sp-container .sImg{
    display: flex;
    flex-direction: column;
    width: 150%;
}


.sp-container .sImg .featured{
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 29%;
    height: 26%;
    
}


.sp-container .sImg .featured img{
    width:95%;
    height: 95%;
    object-fit: cover;
    cursor: pointer;
}


.sp-container .sImg img{
    width: 100%;
    height: 47vh;
    object-fit: cover;
    background-position: center;
    background-size: contain;
}

.sp-container .singP-desc h4{
  margin-top: -60px;
}

.sp-container .singP-desc h3, h2{
    margin: 30px 0;
}

.sp-container .singP-desc p{
    color: #222;
    font-size: 22px;
    line-height: 30px;
}

.singP-desc select{
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    margin: 15px 0;
    cursor: pointer;
}

.singP-desc input{
    padding: 17px 10px;
    width: 7%;
    font-size: 18px;
    margin: 17px 0;
    outline: none;
    cursor: pointer;
}

.singP-desc button{
    background: #088178;
    border-radius: 0;
    padding: 18px 20px;
    margin-left: 10px;
}






/* blog page */
#page-header.blog-header{
    background: url(..//images/h2.jpg);
    background-size: cover;
    background-position: center;
   
}


#blog{
    display: flex;
    flex-direction: column;
}

#blog .blog-box{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 140px 140px 0 140px;
}

#blog .blog-img{
    width: 50%;
}


#blog .blog-img img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-position: center;
}

#blog .blog-details{
    width: 50%;
    padding: 0 50px;
}

#blog .blog-details h3{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
}

#blog .blog-details p{
    color: #5d5c5c;
    line-height: 50px;
}

#blog .blog-details a{
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    color: #000;
}

#blog .blog-details a::after{
    position: absolute;
    content: '';
    top: 15px;
    right: -120px;
    width: 100px;
    height: 3px;
    background: #000;
}

#blog .blog-details a:hover::after{
    background: #088178;
}

#blog .blog-details a:hover{
    color: #088178;
}

#blog h1{
    position: absolute;
    top: 98px;
    left: 120px;
    font-size: 80px;
    font-style: 700;
    z-index: -9;
    color: #cce7d0;
}



/* media queries */
@media screen and (max-width:799px) {

    nav {
    padding: 16px 40px;
    
}

    body.expand header::before{
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, .02);
    }



   .navgation .list-menu {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    background: #dcdcdc;
    top: 0;
    right: -300px;
    padding: 80px 0 10px 40px;
    width: 300px;
    height: 100vh;
    font-size: 22px;
    transition: .3s ease-in-out;
}

    nav #mobile {
        display: inline-flex;
        white-space: nowrap;
        font-size: 22px;
        color: #222;
    }

    nav #mobile a{
        color: #222;
    }

    .list-menu #closeMenu i{
        position: absolute;
        display: block;
        top: 25px;
        left: 50px;
        font-size: 20px;
    }

    .list-menu.expand{
        right: 0px;
    }

    #products .pro-container {
        gap: 35px;
   justify-content: center; 
}

    #hero {
    background-position: top 30% left 30%;
    background-size: cover;
    padding: 40px 20px;
    /* overflow: hidden; */
}

    #hero h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

    #hero h2 {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 10px;
    
}

    button {
    padding: 10px 60px;
    font-size: 17px;
    margin-right: 20px;
}

    #feature {
   display: flex;
   gap: 20px;
   padding: 20px 40px;
    }

    #products .pro-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

    #products {
    padding: 25px 0px;
}

    .pro-container .desc {
    width: 300px;
    padding: 14px;
    margin-left: 2;
}

    .pro-container .desc img {
    object-fit: cover;
    width: 260px;
    height: 260px;
}

    #banner {
    line-height: 75px;

}

    #banner {
    height: 25vh;
    width: 100%;
}

    #sm-banner .banner-container h3, h4, p {
    margin-bottom: -15px;
}

    #banner h2 {
    font-size: 20px;
    line-height: 10px;
}

    #banner p {
    color: #ffb006;
    font-size: 16px;
    
}

    #sm-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

     #sm-banner .banner-container{
        border-radius: 12px;
     }

    #sm-banner .banner-container h3, h4, p {
    margin-bottom: 10px;
}

    #sm-banner .banner-container:nth-child(2) {
    background-image: url(..//images/p22.webp);
    color: #222;
}

    .section-p1 {
    padding: 40px 30px;
    overflow: hidden;
}

    #banner2 .b2-container .continer1 {
    width: 30%;
    height: 30vh;
    padding: 10px;

}

    #banner2 .b2-container h2 {
        font-size: 19px;
    white-space: wrap;
}

    .pro-container .desc p, h5 {
        margin: -10px 0;
        font-size: 14px;
        
}

    


    #banner2 .b2-container .continer2 {
    width: 30%;
    height: 30vh;
    padding: 0 0px 0 5px;
}

    #banner2 .b2-container .continer3 {
    width: 30%;
    height: 30vh;
    padding: 0 0px 0 5px;
}

    #newsLetter .form{
        width: 80%;
}

    #newsLetter .form input {
    flex-basis: 100%;
    font-size: 20px;
}

    #newsLetter .form button {
    padding: 22px 40px;
    
}

    footer .col {
    margin-top: 20px;
}

    footer .col h5 {
        font-size: 19px;
        margin-top: 20px;
    margin-bottom: 20px;
}

    /* single product page */
    .sp-container {
    display: flex;
    flex-direction: column;
    padding: 0 80px 0 0;
    width: 96%;
}

    .sp-container .sImg .featured{
        margin-right: 50px;
        margin-left: -10px;
    }

    .sp-container .sImg .featured img {
    width: 71%;
    height: 73%;
}

    .sp-container .sImg img {
    padding-right: 20px;
    width: 80%;
    height: 47vh;
    
}

    .sp-container .singP-desc h3, h2 {
    margin: 30px 0;
    font-size: 30px;
}

    .singP-desc select {
    padding: 20px 18px;
    font-size: 17px;
    margin: 20px 0;
    
}

    .singP-desc input {
    padding: 17px 10px;
    width: 20%;
    font-size: 20px;
    margin: 25px 0;
}

    .singP-desc button {
    font-size: 20px;
    padding: 20px 25px;
   
}

    .singP-desc h5{
        margin: 20px 0;
        font-size: 24px;
    }

    .sp-container .singP-desc p {
    font-size: 25px;
    line-height: 34px;
}

    .sp-container .sImg img {
    padding-right: 0px;
    width: 90%;
}



/* blog page */
#blog .blog-box { 
    margin-bottom: 40px;
    padding: 40px 40px 0 40px;
}

#blog .blog-details h3 {
    margin-bottom: 15px;
    margin-top: -66px;
    font-size: 24px;
}

#blog .blog-details p {
    line-height: 28px;
    margin-bottom: 12px;
}

#blog .blog-details {
    width: 50%;
    padding: 0 30px;
}

#blog .blog-details a {
    font-size: 19px;
    margin-top: 23px;
}

#blog h1 {
    top: -8px;
    left: 40px;
    
}


}

@media screen and (max-width:477px) {

   body.expand header::before{
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .02);
   }

    nav {
    padding: 16px 40px;
    }

    .navgation .list-menu {
    width: 200px;
    font-size: 17px;
}

    #hero h4 {
        font-size: 17px;
    padding-bottom: 20px;
}

    #hero h2 {
    font-size: 30px;
    line-height: 20px;
}

    #hero h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

    #hero p {
    font-size: 17px;
    padding-bottom: 5px;
}

    .fe-box {
    width: 45%;
}

    .fe-box{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .3);
    
}


    #feature {
    display: flex;
    gap: 10px;
}

    .fe-box img {
    width: 80px;
    height: 80px;
}

    .fe-box h6 {
    margin-top: 15px;
    margin-bottom: 30px;
    white-space: nowrap;
    font-size: 16px;
}

    h1 {
    font-size: 35px;
    margin-bottom: -30px;
    white-space: nowrap;
}

    #products .head p {
        font-size: 15px;
        color: #222;
    margin: 26px 0;
}

    #sm-banner .banner-container {
    /* overflow: hidden; */
    min-width: 400px;
    width: 50%;
    padding: 20px;
    height: 40vh;
    flex-basis: 20%;
}

.section-p1{
    padding: 20px 10px;
}

.pro-container .desc {
    width: 600px;
    padding: 14px;
    margin-left: 2;
}

    .pro-container .desc img {
    object-fit: cover;
    width: 350px;
    height: 300px;
}

    #banner2 .b2-container .continer1 {
    width: 36%;
    height: 30vh;
    padding: 10px;
}

     #banner2 .b2-container {
        padding: 5px;
     }

    #banner2 .b2-container h2 {
    font-size: 10px;
}

    .pro-container .desc p, h5 {
        margin-top: 20px;
        font-size: 15px;
        white-space: nowrap;
        font-weight: 600;
}

    #newsLetter {
    line-height: 10px;
    gap: 20px;
    padding: 20px  40px;
    height: 30vh;
}

    #newsLetter h3 {
    font-size: 18px;
}

    #newsLetter p {
   margin-top: 20px;
    font-size: 15px;
    line-height: 30px;
    
}

    #newsLetter .form input {
    flex-basis: 70%;
    font-size: 17px;
}

    #newsLetter .form button {
    padding: 20px 30px;
}

    footer .col h5 {
    font-size: 18px;
}

    footer .col p {
    font-size: 17px;
}

    footer .col a {
    font-size: 17px;
    
}

/* single product */

    .sp-container {
    display: flex;
    flex-direction: column;
    
}

    .sp-container .sImg {
    width: 115%;
}

    .sp-container .singP-desc h3, h2 {
    margin: 15px 0;
}

    h2 {
    font-size: 32px;
    line-height: 30px;
    
}

    .singP-desc select {
    padding: 10px 5px;
    font-size: 13px;
    font-weight: 700;
    margin: 18px 0;}

    .singP-desc input {
    padding: 10px 5px;
    width: 20%;
    font-size: 13px;
    margin: 17px 5px;
}
   .singP-desc button {
    padding: 10px 13px;
}

    .singP-desc h5{
        margin: 20px 0;
    }

    .sp-container .singP-desc p {
    font-size: 18px;
    line-height: 24px;
}

/* blog page */
#blog .blog-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 20px 0 20px;
}

#blog .blog-img img {
    width: 200%;
    
}

#blog .blog-details h3 {
    margin-top: 30px;
    font-size: 19px;
    white-space: nowrap;
}

#blog .blog-details {
    width: 100%;
    padding: 0 30px;
}

#blog h1 {
    top: -20px;
    left: 20px;
    font-size: 40px;
}

#blog .blog-box {
    margin: 30px 0;
}

#blog .blog-details a {
    font-size: 16px;
    font-weight: 700;
}
}